# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.edgeone
node-functions/
edge-functions/

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  